<!DOCTYPE html>
<html>

<head>
    <title>Lame Jokes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
    <div class="container">
        <h1> Refresh For Another Lame Joke. 😜 </h1>
        <div class="response-area">
            <p><%= setup %></p> <p><%= delivery %></p>
        </div>

        <form id="myForm" action="/">
            <label for="submit"></label>
            <input id="button" type="submit" value="Refresh">
        </form>
    </div>
</body>

</html>